/*
Downloaded from Wayback Machine Archive by David Gilson
Archived on Mar 23, 2015 
Upgraded September 2024.
*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
}

#map {
    height: 100%;
    float: left;
    width: 70%;
}

td {
    font-size: 10pt;
}

th {
    text-align: left;
}

h1 {
    font-size: 14pt;
}


.marker {
    font-size: 12px;
}

.marker .addressDIV {
    color: #fff;
    height: 33px;
    font-size: 16px;
    line-height: 33px;
    font-weight: bold;
    position: relative;
    width: 360px;
    margin-bottom: 10px;
    overflow: hidden;
}

.marker .addressDIV .addressLabel {
    position: absolute;
    top: 2px;
    left: 2px;
    color: #000;
    text-align: center;
    width: 100%;
}

.marker .addressDIV .addressShadow {
    position: absolute;
    text-align: center;
    width: 100%;
}

.marker .markerBody {
    margin-left: 20px;
}

#crimeList {
    font-size: 10px;
    width: 30%;
    height: 320px;
    overflow-y: scroll;
    margin: 0 0 0 4px;
}

.crimeListDateHeading {
    margin: 4px 4px 4px 0;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    background-color: #074396;
    color: #fff;
    padding: 0;
    display: block;
}

.crimeListDateHeading a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.crimeListDateHeading a .pmimg {
    border: 0;
    margin: 4px 4px 0 4px;
}

.crimeListDIV {
    display: inline;
}

.listCrime {
    margin-left: 12px;
}

a.listItem {
    margin-left: 8px;
    text-decoration: none;
    color: #074396;
}

a.listItem:hover {
    text-decoration: underline;
}
