/*
Downloaded from Wayback Machine Archive by David Gilson
Archived on Mar 23, 2015 
Upgraded September 2024.
*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto, Arial, sans-serif";
}

body {
    display: flex;
}

#map {
    height: 100%;
    float: left;
    /* width: 80%; */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.marker p:first-of-type {
    margin-top: 10px;
    font-size: 14px;
}

.marker-note {
    font-size: 10px;
    color: dimgray
}

ul {
    padding-inline-start: 30px;
}

/* DG: Bit of a hack, does change all headers! */
.gm-style-iw-ch
{
    font-weight: bold;
    font-size: 20px;
}

#crimeList {
    font-size: 14px;
    width: 200px;
    float: right;
    /* width: 0px; for sliding out from side*/
    height: 100%;
    overflow-y: auto ;
    display: flex;
    flex-direction: column;
    transition: width 0.5s;
}

.collapsed {
    width: 0 !important; /* Target width for animation */
}

.crimeListDateHeading {
    background-color: #2b79c2;
    color: #fff;
    padding-top: 3px;
    padding-left: 3px;
    display: flex;
    border-bottom: 2px solid #333333;
    cursor: pointer;
}

.crimeListDateHeading:first-child {
    border-top: 2px solid #2b79c2;
}

.triangle {
    color: #fff;
    text-shadow: 0 0 20px black;
    margin-right: 4px;
  } 

.crimeListDIV {
    display: flex;
    flex-direction: column;
}

.listCrime {
    margin-left: 12px;
}

.listItem {
    padding: 2px 4px;
    text-decoration: none;
    color: #074396;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 1px solid #333333;
}

.listItem:hover {
    background-color: #074396;
    color: #fff;
}

