/*
Downloaded from Wayback Machine Archive by David Gilson
Archived on Mar 23, 2015 
Upgraded September 2024.
*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto, Arial, sans-serif";
}

#map {
    height: 100%;
    float: right;
    width: 100%;
}

.marker p:first-of-type {
    margin-top: 0px;
    font-size: 14px;
}

ul {
    padding-inline-start: 30px;
}

/* DG: Bit of a hack */
.gm-style-iw-ch
{
    font-weight: bold;
    font-size: 20px;
    padding-top: 12px;
}
#crimeList {
    font-size: 10px;
    width: 100%;
    width: 0px;
    height: 100%;
    overflow-y: scroll;
    margin: 0 0 0 4px;
}

.crimeListDateHeading {
    margin: 4px 4px 4px 0;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    background-color: #074396;
    color: #fff;
    padding: 0;
    display: block;
}

.crimeListDateHeading a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.crimeListDateHeading a .pmimg {
    border: 0;
    margin: 4px 4px 0 4px;
}

.crimeListDIV {
    display: inline;
}

.listCrime {
    margin-left: 12px;
}

a.listItem {
    margin-left: 8px;
    text-decoration: none;
    color: #074396;
}

a.listItem:hover {
    text-decoration: underline;
}

/* DG Upgrade: */

